In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
file = "/content/spam.csv"

In [13]:
import chardet
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Windows-1252', 'confidence': 0.7270322499829184, 'language': ''}

In [15]:
df = pd.read_csv(file,encoding='Windows-1252')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [16]:
df.shape

(5572, 5)

In [39]:
# df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)
df.dropna(inplace=True)
df.rename(columns={'v1':'category','v2':'mail'},inplace=True)

In [40]:
df.head(2)

  category                                               mail
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...

In [41]:
df.groupby('category').describe()

          mail
         count unique                                                top freq
category
ham       4825   4516                             Sorry, I'll call later   30
spam       747    653  Please call our customer service representativ...    4

In [44]:
df['spam'] = df['category'].apply(lambda x:1 if x=='spam' else 0)
df.head(2)

  category                                               mail  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0

In [45]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.mail,df.category)

In [46]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count = v.fit_transform(x_train.values)
x_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [47]:
from sklearn.naive_bayes import MultinomialNB
bayes_model = MultinomialNB()
bayes_model.fit(x_train_count,y_train)

MultinomialNB()

In [48]:
emails =["If you mean avoids exceptions that's true, because it's the only encoding that doesn't have invalid bytes or sequences","Hey ! Lucky person, Upto 50% discount on parking, exclusive offer just for you. Dont miss this reward!"]
emails_count = v.transform(emails)
bayes_model.predict(emails_count)

array(['ham', 'spam'], dtype='<U4')

In [50]:
x_test_count = v.transform(x_test)
bayes_model.score(x_test_count,y_test)

0.9849246231155779

#**Sklearn Pipeline**

In [53]:

# Sklearn Pipeline 
from sklearn.pipeline import Pipeline
classifier = Pipeline([('vectorizer',CountVectorizer()),('nb',MultinomialNB())])

In [54]:
classifier.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [55]:
classifier.score(x_test,y_test)

0.9849246231155779

In [56]:
classifier.predict(emails)

array(['ham', 'spam'], dtype='<U4')